{% extends "base.html" %}
{% block content %}
<div class="container">
<h2>All Expenses</h2>
<table border="1" cellpadding="5">
    <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
    </tr>
    {% for expense in expenses %}
    <tr>
        <td>{{ expense['description'] }}</td>
        <td>${{ expense['amount']|round(2) }}</td>
        <td>{{ expense['category'] }}</td>
        <td>{{ expense['date'] }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td><strong>Total</strong></td>
        <td><strong>${{ total|round(2) }}</strong></td>
        <td colspan="2"></td>
    </tr>

</table>
</div>
{% endblock %}
